.container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;
    padding: 30px;
    background-color: lavender;
    font-size: 24px;
    overflow: none;
}

nav {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 30px;
    background-color: grey;
    width: 100%;
}

nav ul {
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;

}

nav>ul>li>a {
    padding: 18px;
    margin-right: 0;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    color: white;
}

nav>ul>li>a:hover {
    color: black;
}

img {
    border-radius: 50px;
}
.projects{
    display:flex;
    justify-content: space-between;
}
#footer {
    background-color: grey;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}